* {
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.video_row {
    width: 75%;
    float: left;
}

.text_row {
    width: 25%;
    float: left;
}

.main li {
    font-family: "Netflix Sans";
    font-size: 1.2vw;
}

.main video {
    width: 100%;
    float: left;
}